body {
    /* background-color: #282c34; */
    background: url(images/main.jpg) repeat 0px 0px;
}

.tab-list {
    background-color: white;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow:
    /* The top layer shadow */
        0 1px 1px rgba(0,0,0,0.15),
            /* The second layer */
        0 10px 0 -5px #eee,
            /* The second layer shadow */
        0 10px 1px -4px rgba(0,0,0,0.15),
            /* The third layer */
        0 20px 0 -10px #eee,
            /* The third layer shadow */
        0 20px 1px -9px rgba(0,0,0,0.15);
    padding: 30px;
}

.home {
    background-color: white;
    margin: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow:
    /* The top layer shadow */
        0 1px 1px rgba(0,0,0,0.15);
    padding: 50px;
}

.tab-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px 0;
    width: 40%;
    border-bottom: 2px dotted #0e5e6b;
    font-family: 'Allerta Stencil';font-size: 14px;
    font-weight: 100;
    color: #333333;
    margin: auto;
}

input[type=checkbox] {
    margin-right: 10px;
    font-size: 30px;
}

input[type=checkbox]:focus {
    outline: 0;
}

.title{
    font-family: 'Nova Flat';
    font-size: 50px;
    text-align: center;

}

.sign-in{
    font-family: 'Nova Flat';
    font-size: 20px;
    text-align: center;

}

.pricing-table {
    background: url(images/Table.png) no-repeat 0px 0px;
    background-size: 500px 900px;
    background-position: center;
    width: 50%;
	height: 900px;
	margin: auto;
	position: relative;
}
.tab-heading {
    background: url(images/invoice.png) no-repeat 0px 0px;
    background-size: 100px 100px;
    background-position: center;
    position: relative;
    height: 25%;
    background-position: center;
}
.tab-heading:hover {
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
	cursor: pointer;
}
.tab-info{
    display:block;
    margin-top: 10%;
    
}
