
body {
    background: url(images/main.jpg) repeat 0px 0px;
}

.tab-list {
    background-color: white;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow:
    /* The top layer shadow */
        0 1px 1px rgba(0,0,0,0.15),
            /* The second layer */
        0 10px 0 -5px #eee,
            /* The second layer shadow */
        0 10px 1px -4px rgba(0,0,0,0.15),
            /* The third layer */
        0 20px 0 -10px #eee,
            /* The third layer shadow */
        0 20px 1px -9px rgba(0,0,0,0.15);
    padding: 30px;
}

.home {
    background-color: white;
    margin: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow:
    /* The top layer shadow */
        0 1px 1px rgba(0,0,0,0.15);
    padding: 50px;
}

.tab-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px 0;
    width: 35%;
    border-bottom: 2px dotted #0e5e6b;
    font-family: 'Allerta Stencil';font-size: 12px;
    font-weight: 100;
    color: #333333;
    margin: auto;
}

.title{
    font-family: 'Nova Flat';
    font-size: 50px;
    text-align: center;

}

.sign-in{
    font-family: 'Nova Flat';
    font-size: 20px;
    text-align: center;

}

.pricing-table {
    background: url(./images/table.png) no-repeat 0px 0px;
    background-size: 625px 2030px;
    width: 50%;
    height: 1225px;
    margin: auto;
    position: relative;
    background-position-x: center;
    background-position-y: 9px;
}
.tab-heading {
    background: url(images/logo.png) no-repeat 0px 0px;
    background-size: 325px 110px;
    background-position: center;
    position: relative;
    height: 25%;
    background-position: center;
    margin-left: -11px;
}
.tab-heading:hover {
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
	cursor: pointer;
}
.tab-info{
    display:block;
    width: 100%;
}

*
{
    -webkit-tap-highlight-color: transparent;
    outline:none;
}

html, body
{
    height: 100%;
}

body
{
    margin: 0;
}

input[type='checkbox']
{
    display: none;
}

.label-checkboxes
{
    position: absolute;
    top: auto;
    right: 0;
    left: 100px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-color: #f72414;
    transform: translateY(-25%);
    border-radius: 50%;
    box-shadow: 0 7px 10px #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
    right: 50%;
}

.label-checkboxes:before
{
    content: "";
    position: absolute;
    top: 49%;
    right: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 7px 10px #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
}

.label-checkboxes:hover:before
{
    width: 15px;
    height: 15px;
    box-shadow: inset 0 7px 10px #ff9d96;
}

.label-checkboxes:active
{
    transform: translateY(-50%) scale(0.9);
}

#tick_mark
{
    position: absolute;
    top: -1px;
    right: 0px;
    left: 16px;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-left: -14px;
    transform: rotateZ(-40deg);
}

#tick_mark:before, #tick_mark:after
{
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_mark:before
{
    left: 0;
    bottom: 0;
    width: 5px;
    height: 11px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.23);
    transform: translateY(-68px);
}

#tick_mark:after
{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.23);
    transform: translateX(78px);
}

/* input[type='checkbox']:checked + .label-checkboxes */
.input-checked {
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
}
.otherdUser {
    background-color: #3331aa;
    box-shadow: 0 7px 10px rgb(42, 106, 207);
}

/* input[type='checkbox']:checked + .label-checkboxes:before */
.input-checked:before
{
    width: 0;
    height: 0;
}

/* input[type='checkbox']:checked + .label-checkboxes #tick_mark:before, input[type='checkbox']:checked + .label-checkboxes #tick_mark:after */
.input-checked #tick_mark:before, .input-checked #tick_mark:after 
{
    transform: translate(0);
    opacity: 1;
}

form {
    display: inline-block;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


.form-group{
font-family: 'Allerta Stencil';font-size: 12px;
color: #ffffff;
}

.grid-container {
    display: grid;
    grid-template-rows: 144px auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }

.login-logo {
    background: url(./images/logo.png) no-repeat 0px 0px;
    background-size: 325px 110px;
    background-position: center;
    position: relative;
    background-position: center;
    grid-row-start: 1;
}

.tab-data{
    font-family: 'Nova Flat';
    font-size: 15px;
    text-align: center;
    margin-top: 7px;
}
.total{
    font-family: 'Inconsolata';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.grid-tab-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    grid-gap: 10px;
    padding: 9px;
    margin-top: 2%;
  }
.grid-subtotal-container {
    display: inline-grid;
    grid-template-columns: 68px 75px;
    grid-template-rows: 25px;
    margin-left: 361px;
  }  
.grid-tax-container {
    display: inline-grid;
    grid-template-columns: 65px 75px;
    grid-template-rows: 25px;
    margin-left: 368px;
  }  
.grid-tip-container {
    display: inline-grid;
    grid-template-columns: 64px 75px 63px 63px 63px;
    grid-template-rows: 35px;
    margin-left: 354px;
  }  
  .grid-total-container {
    display: inline-grid;
    grid-template-columns: 65px 75px;
    grid-template-rows: 25px;
    margin-left: 368px;
  }  
.tip{
    font-family: 'Nova Flat';
    font-size: 15px;
    text-align: center;
    grid-template-columns: auto auto auto auto;

  }
.grid-subtotal{
    margin-right: 20px;
}
.grid-tax{
    margin-right: 30px;
}
.grid-total{
    margin-right: 30px;
}

.btn-success{
    margin-left: 372px;
    margin-top: 0px;
}
 
.user{
    font-family: 'Inconsolata';
    font-size: 13px;
    text-align: right;
    text-decoration: underline;
  }
  .online-users{
    color: white;
    font-family: 'Inconsolata';
    font-size: 15px;
    margin-left: 480px;
}
   .online-img{
    background: url(./images/online.png) no-repeat 0px 0px;
    background-size: 142px 47px;
    width: 227px;
    height: 48px;
    background-position-x: 45px;
}

.btn-danger {
    margin-top: 17px;
}

  @media only screen and (max-width: 800px) {

    body {
        background: url(./images/main.jpg) repeat 0px 0px;
    }
      ol{
          margin-bottom:0;
      }
      .online-users{
        color: white;
        font-family: 'Inconsolata';
        font-size: 10px;
        margin-left: 0px;
        
    }
    .pricing-table {
        background-size: 408px 1389px;
        width: 95%;
        height: 1211px;
        margin: auto;
        background-position-x: -33px;
        background-position-y: 36px;
        }
        #root{
         max-width: 350px;
         margin:auto;
        }
        .btn-danger {
           margin-left: 0px !important;
           float:right;
           margin-top: 2px;
        }

        .tab-info {
            display: block;
            margin-top: 3%;
            width: 557px;
            margin-left: -132px;
        }
        input[type='checkbox']
                {
          display: none;
            }

        .label-checkboxes {
            position: absolute;
            top: auto;
            right: 0;
            left: -100px;
            width: 30px;
            height: 30px;
            margin: 0 auto;
            background-color: #f72414;
            transform: translateY(-25%);
            border-radius: 50%;
            box-shadow: 0 7px 10px #ffbeb8;
            cursor: pointer;
            transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
            overflow: hidden;
            z-index: 1;
            right: 50%;
    }
        /* .label-checkboxes:before
    {
            content: "";
            position: absolute;
            top: 49%;
            right: 0px;
            left: 0px;
            width: 15px;
            height: 15px;
            margin: 0 auto;
            background-color: #fff;
            transform: translateY(-50%);
            border-radius: 50%;
            box-shadow: inset 0 7px 10px #ffbeb8;
            transition: 0.2s ease width, 0.2s ease height;
    } */
   
    .label-checkboxes:hover:before
    {
            width: 0px !important;
            height: 0px !important;
            box-shadow: inset 0 7px 10px #ff9d96;
    } 
    .label-checkboxes:hover:after
    {
            width: 0px;
            height: 0px;
            box-shadow: inset 0 7px 10px #ff9d96;
    } 

    .label-checkboxes:active
    {
            transform: translateY(-50%) scale(0.9);
    }

    #tick_mark
    {
            position: absolute;
            top: -1px;
            right: 0px;
            left: 16px;
            width: 20px;
            height: 20px;
            margin: 0 auto;
            margin-left: -14px;
            transform: rotateZ(-40deg);
    }

    #tick_mark:before, #tick_mark:after
    {
            content: "";
            position: absolute;
            background-color: #fff;
            border-radius: 2px;
            opacity: 0;
            transition: 0.2s ease transform, 0.2s ease opacity;
    }

    #tick_mark:before
    {
            left: 0;
            bottom: 0;
            width: 5px;
            height: 11px;
            box-shadow: -2px 0 5px rgba(0,0,0,0.23);
            transform: translateY(-68px);
    }

    #tick_mark:after
    {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 6px;
            box-shadow: 0 3px 5px rgba(0,0,0,0.23);
            transform: translateX(78px);
    }
    .input-checked {
            background-color: #07d410;
            box-shadow: 0 7px 10px #92ff97;
    }
    .otherdUser {
            background-color: #3331aa;
            box-shadow: 0 7px 10px rgb(42, 106, 207);
    }
    .tab-heading {
            background: url(/static/media/logo.79d17e85.png) no-repeat 0px 0px;
            background-size: 225px 75px;
            background-position: center;
            position: relative;
            height: 20%;
            background-position: center;
            margin-left: -5px;
     }
       

    .tab-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 5px 5px 0;
            width: 45%;
            border-bottom: 2px dotted #0e5e6b;
            font-family: 'Allerta Stencil';
            font-size: 12px;
            font-weight: 100;
            color: #333333;
            margin: auto;
            margin-left: 181px;
     }
    .grid-subtotal-container {
            display: inline-grid;
            grid-template-columns: 68px 75px;
            grid-template-rows: 25px;
            margin-left: 150px;
    }
    .grid-tax-container {
            display: inline-grid;
            grid-template-columns: 39px 75px;
            grid-template-rows: 25px;
            margin-left: 184px;
    }
    .grid-tip-container {
            display: grid;
            grid-template-rows: 35px 64px;
            margin-left: 179px;
            grid-template-columns: 39px 58px 55px 55px 55px;
            grid-template-rows: max-content;
    }
    .grid-total-container {
            display: inline-grid;
            grid-template-columns: 65px 75px;
            grid-template-rows: 25px;
            margin-left: 223px;
            margin-top: 20px;
    }
    .btn-success{
            margin-left: 204px !important;
            margin-top: 0px;
    }
    .online-img{
        background: url(/static/media/online.c2525846.png) no-repeat 0px 0px;
        background-size: 75px 25px;
        width: 349px;
        height: 25px;
        background-position-x: 45px;
    }
    *, ::after, ::before {
        box-sizing: content-box;
    }
}
  